<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "myRGBcolor"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>myRGBcolor</name>

  <description>
      myRGBcolor application
  </description>

  <author href="https://webnet.kz" email="info@webnet.kz">
      WebNet
  </author>
    
        <!-- Define app icon and splashscreen for each platform. -->
    <platform name="android">
        <icon   src="www/img/logo.png"               density="ldpi" />
        <icon   src="www/img/logo.png"               density="mdpi" />
        <icon   src="www/img/logo.png"               density="hdpi" />
        <icon   src="www/img/logo.png"              density="xhdpi" />
        <icon   src="www/img/logo.png"             density="xxhdpi" />
        <icon   src="www/img/logo.png"            density="xxxhdpi" />
        <splash src="www/img/logo.png"      density="land-ldpi" />
        <splash src="www/img/logo.png"      density="land-mdpi" />
        <splash src="www/img/logo.png"      density="land-hdpi" />
        <splash src="www/img/logo.png"     density="land-xhdpi" />
        <splash src="www/img/logo.png"    density="land-xxhdpi" />
        <splash src="www/img/logo.png"   density="land-xxxhdpi" />
        <splash src="www/img/logo.png"      density="port-ldpi" />
        <splash src="www/img/logo.png"      density="port-mdpi" />
        <splash src="www/img/logo.png"      density="port-hdpi" />
        <splash src="www/img/logo.png"     density="port-xhdpi" />
        <splash src="www/img/logo.png"    density="port-xxhdpi" />
        <splash src="www/img/logo.png"   density="port-xxxhdpi" />
    </platform>

</widget>
